---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog"))
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<Layout title="Blog">
  <h1>Blog</h1>

  <ul>
    {posts.map((post) => (
      <li>
        <a href={`/blog/${post.slug}`}>{post.data.title}</a>
        <span style="margin-left: 10px; opacity: 0.7;">
          {post.data.date.toISOString().slice(0, 10)}
        </span>
        {post.data.description && (
          <div style="opacity: 0.8; margin-top: 4px;">
            {post.data.description}
          </div>
        )}
      </li>
    ))}
  </ul>
</Layout>